/* CSS-Datei */
@font-face 
{
    font-family: Origam;
    src: url("../Fonts/Origam.ttf");
}
@media only screen and (min-width: 0px)
{
    html {overflow-x: auto; min-width: 824px;}
    body {font-size: 10px;}
    nav {height: 43px;}
    section {margin: 0px 18px 0px 268px;}
    #titlecontainer{height: 170px; width: 170px;}
    #navcontainer {width: 824px;}
    #contentcontainer {width: 824px;}
    #sright {width: 0px; visibility: hidden; position: static; top: 0px; right: 0px;}
    #recommend2 {visibility: visible;}
    #shadowfix {top: calc(249px + 2vw); height: calc(100% - 249px - 2vw); min-width: 0px;}
}

@media only screen and (min-width: 240px)
{
    html {overflow-x: auto; min-width: 824px;}
    body {font-size: 12px;}
    nav {height: 46px;}
    section {margin: 0px 18px 0px 268px;}
    #titlecontainer{height: 170px; width: 170px;}
    #navcontainer {width: 824px;}
    #contentcontainer {width: 824px;}
    #sright {width: 0px; visibility: hidden; position: static; top: 0px; right: 0px;}
    #recommend2 {visibility: visible;}
    #shadowfix {top: calc(252px + 2vw); height: calc(100% - 252px - 2vw); min-width: 0px;}
}

@media only screen and (min-width: 480px)
{
    html {overflow-x: auto; min-width: 824px;}
    body {font-size: 14px;}
    nav {height: 49px;}
    section {margin: 0px 18px 0px 268px;}
    #titlecontainer{height: 170px; width: 170px;}
    #navcontainer {width: 824px;}
    #contentcontainer {width: 824px}
    #sright {width: 0px; visibility: hidden; position: static; top: 0px; right: 0px;}
    #recommend2 {visibility: visible;}
    #shadowfix {top: calc(255px + 2vw); height: calc(100% - 255px - 2vw); min-width: 0px;}
}

@media only screen and (min-width: 720px)
{
    html {overflow-x: auto; min-width: 824px;}
    body {font-size: 16px;}
    nav {height: 52px;}
    section {margin: 0px 18px 0px 268px;}
    #titlecontainer{height: 170px; width: 170px;}
    #navcontainer {width: 824px;}
    #contentcontainer {width: 824px;}
    #sright {width: 0px; visibility: hidden; position: static; top: 0px; right: 0px;}
    #recommend2 {visibility: visible;}
    #shadowfix {top: calc(258px + 2vw); height: calc(100% - 258px - 2vw); min-width: 0px;}
}

@media only screen and (min-width: 824px)
{
    html {overflow-x: auto; min-width: 824px;}
    body {font-size: 16px;}
    nav {height: 52px;}
    section {margin: 0px 18px 0px 268px;}
    #titlecontainer{height: 170px; width: 170px;}
    #navcontainer {width: 100%;}
    #contentcontainer {width: 100%;}
    #sright {width: 0px;visibility: hidden; position: static; top: 0px; right: 0px;}
    #recommend2 {visibility: visible;}
    #shadowfix {top: calc(258px + 2vw); height: calc(100% - 258px - 2vw); min-width: 0px;}
}

@media only screen and (min-width: 1190px)
{
    html {overflow-x: auto; min-width: 1439px;}
    body {font-size: 18px;}
    nav {height: 55px;}
    section {margin: 0px 0px 0px 268px; width: 902px;}
    #titlecontainer{height: 14vw; width: 14vw;}
    #navcontainer {width: 100%;}
    #contentcontainer {width: 100%;}
    #sright {width: 250px; position: absolute; top: calc(91px + 16vw + 36px); left: 1189px;}
    #recommend2 {visibility: hidden;}
    #shadowfix {top: calc(91px + 16vw); height: calc(100% - 91px - 16vw); min-width: 1439px;}
}

@media only screen and (min-width: 1460px)
{
    html {overflow-x: hidden;}
    body {font-size: 20px;}
    nav {height: 58px;}
    section {margin: 0px auto; width: 916px;}
    #titlecontainer{height: 14vw; width: 14vw;}
    #navcontainer {width: 100%;}
    #contentcontainer {width: 100%;}
    #sright {width: 250px; position: static;}
    #recommend2 {visibility: hidden;}
    #shadowfix {top: calc(94px + 16vw); calc(100% - 94px - 16vw); min-width: 0px;}
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

* {
    margin: 0px;
}

html
{
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url(../PIC/sakura2.jpg);
    background-size: auto;

}

body 
{
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: Ubuntu;
    font-weight: 200;
    letter-spacing: 2px;
    background-size: cover;
}

header
{
    
}

aside
{
    display: block;
    min-height: 300px;
}

article
{

}

#othera
{
    display: block;
    width: 916px;
    height: 900px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.75);
}

section
{
    display: block;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.75);
}

footer
{
    z-index: 1;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #999;
    padding: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.75);
}

nav
{
    z-index: 1;
    width: 804px;
    margin: 0 auto;
}

nav ul
{
    padding: 0px;
    margin: 0px;
}

nav a
{
    font-family: Ubuntu,sans-serif;
    color: #fff;
}

nav ul.level1 li
{
    float:left;
    list-style: none;
    border-radius: 9px;
}

nav ul.level1 li a
{
    display: block;
    width: 200px;
    text-align: center;
    padding: 14px 34px 14px 34px;
    border-radius: 9px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: 0 0 15px 5px rgb(0, 0, 0);
}

nav ul li:hover
{
    background-color: rgb(0, 0, 0);
}

nav ul li:hover > ul.level2 
{
    visibility: visible;
}

nav ul li:hover > ol.level2 
{
    visibility: visible;
}

nav ul.level2, nav ol.level2
{
    position: absolute;
    z-index: 1;
    display: inline;
    visibility: hidden;
    padding:0px;
}

nav ul.level2 li, nav ol.level2 li
{
    float: none;
}

nav ol.level2 li 
{
    
}

nav ul.level2 .active, nav ol.level2 .active
{
    text-decoration: line-through;
}

#banner
{
    min-height: 170px;
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.7);
}

#bannercontentcontainer
{
    z-index: 0;
    margin: 0 auto;
    min-height: 170px;
    height: 14vw;
    min-width: 170px;
    width: 14vw;
    border-radius: 100%;
    background-color: rgba(255, 0, 0, 0.7);
    transform: rotate(-360deg);
    border-radius: 100%;
    transition: box-shadow 0.5s linear, transform 0.5s linear;
}

#bannercontentcontainer:hover
{
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7);
    transform: rotate(360deg);
    transition: box-shadow 0.5s linear, transform 0.5s linear;
}

#titlecontainer
{
    display: table-cell;
    vertical-align: middle;
    border-radius: 100%;
    
}
#shadowfix
{
    z-index: -1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#navcontainer
{
    height: 100%;
    min-width: 824px;
    padding-bottom: 36px;
    background-color: rgba(0, 0, 0, 0.5);
}

#contentcontainer
{
    overflow: hidden;
    height: 100%;
    min-width: 824px;
    width: 100%;
    padding: 36px 18px 18px 0px;
    margin: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

#sleft
{
    float: left;
    height: 100%;
    width: 250px;
}


#recommend
{
    padding: 8px 0px 8px 0px;
    background-color: rgba(0, 0, 0, 0.75);
}

.recommendtitle
{
    padding-left: 13px;
}

#recommend ul
{
    text-align: left;
    list-style-type: none;
    padding: 0px;
}

#recommend a
{
    font-size: 14px;
    text-decoration: none;
}

.vid
{
    display: block;
    width: 236px; 
    height: 189px;
    margin: 8px 7px 8px 7px;
    box-shadow: 0 0 15px 5px rgb(0, 0, 0);
}

#sright
{
    float: right;
    visibility: visible;
    height: 570px;
}

#toc
{
    display: table;
    padding: 8px 0px 8px 0px;
    background-color: rgba(0, 0, 0, 0.75);
}

.toctitle
{
    text-align: center;
}

#toc ul
{
    list-style-type: none;
    text-align: left;
    padding:0;
    margin:.3em 0;
}

#toc ul ul
{
    margin: 0px 0px 0px 5px;
}

#toc a 
{
    font-size: 14px;
    text-decoration: none;
}

#toc a:hover 
{
    color: #ADA;
}

#recommend2
{
    padding: 8px 0px 8px 0px;
    margin-top: 18px;
    background-color: rgba(0, 0, 0, 0.75);
}

#recommend2 ul
{
    text-align: left;
    list-style-type: none;
    padding: 0px;
}

#recommend2 a
{
    font-size: 14px;
    text-decoration: none;
}

a:hover 
{
    color: #ADA;
}

.active
{
    text-decoration: underline;
}

h1 
{

    font-family: Origam;
    font-size: 40px;
    line-height: 1.5em;
    font-weight: bolder;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

h2 
{
    font-weight: 400;
    line-height: 1.5em;
    color: rgba(255, 0, 0, 0.5);
    padding: 5px 9px;
}

h3 
{
    display:inline;
    font-size: 23px;
    font-weight: lighter;
    line-height: 1,5em;
    color: rgba(255, 0, 0, 0.5);
    border:none;
    padding: 5px;
}

h4 
{
    display:inline;
    font-size: 23px;
    font-weight: lighter;
    line-height: 1,5em;
    color: rgba(255, 0, 0, 0.5);
    border:none;
}

p 
{
    line-height: 1.5em;
    padding-left: 10px;
}

a 
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5em;
    padding-left: 10px;
}