/* CSS-Datei */
@font-face 
{
    font-family: Origam;
    src: url("../Fonts/Origam.ttf");
}
@media only screen and (min-width: 0px)
{
    body {font-size: 10px;}
    .navtop {height: 43px; box-shadow: 0 0 200px 37px rgb(0, 0, 0);}
    article {order: 4; width: calc(100% - 286px); position: static;}
    .contentcontainer {justify-content: flex-start; flex-direction: column; flex-wrap: wrap;}
    .asidetitle{text-align: left; padding-left: 3px;}
    .sright {order: 3; margin: 18px 0px 0px 0px;}
    .shadowfix {top: calc(43px + 200px); height: calc(100% - 200px - 43px); min-width: 0px;}
    .r13 {visibility: hidden;}
}

@media only screen and (min-width: 240px)
{
    body {font-size: 12px;}
    .navtop {height: 46px; box-shadow: 0 0 200px 37px rgb(0, 0, 0);}
    article {order: 4; width: calc(100% - 286px); position: static;}
    .contentcontainer {justify-content: flex-start; flex-direction: column; flex-wrap: wrap;}
    .asidetitle{text-align: left; padding-left: 3px;}
    .sright {order: 3; margin: 18px 0px 0px 0px;}
    .shadowfix {top: calc(46px + 200px); height: calc(100% - 200px - 46px); min-width: 0px;}
    .r13 {visibility: hidden;}
}

@media only screen and (min-width: 480px)
{
    body {font-size: 14px;}
    .navtop {height: 49px; box-shadow: 0 0 200px 38.4px rgb(0, 0, 0);}
    article {order: 4; width: calc(100% - 286px); position: static;}
    .contentcontainer {justify-content: flex-start; flex-direction: column; flex-wrap: wrap;}
    .asidetitle{text-align: left; padding-left: 3px;}
    .sright {order: 3; margin: 18px 0px 0px 0px;}
    .shadowfix {top: calc(49px + 200px); height: calc(100% - 200px - 49px); min-width: 0px;}
    .r13 {visibility: hidden;}
}

@media only screen and (min-width: 720px)
{
    body {font-size: 16px;}
    .navtop {height: 52px; box-shadow: 0 0 200px 37.8px rgb(0, 0, 0);}
    article {order: 4; width: calc(100% - 286px); position: static;}
    .contentcontainer {justify-content: flex-start; flex-direction: column; flex-wrap: wrap;}
    .asidetitle{text-align: left; padding-left: 3px;}
    .sright {order: 3; margin: 18px 0px 0px 0px;}
    .shadowfix {top: calc(52px + 200px); height: calc(100% - 200px - 52px); min-width: 0px;}
    .r13 {visibility: hidden;}
}

@media only screen and (min-width: 824px)
{
    html {overflow: auto;}
    body {font-size: 16px;}
    .navtop {height: 52px; box-shadow: 0 0 200px 37.8px rgb(0, 0, 0);}
    article {order: 4; width: calc(100% - 286px); position: static;}
    .contentcontainer {justify-content: flex-start; flex-direction: column; flex-wrap: wrap;}
    .asidetitle{text-align: left; padding-left: 3px;}
    .sright {order: 3; margin: 18px 0px 0px 0px;}
    .shadowfix {top: calc(52px + 200px); height: calc(100% - 200px - 52px); min-width: 0px;}
    .r13 {visibility: hidden;}
}

@media only screen and (min-width: 1247px)
{
    body {font-size: 18px;}
    .navtop {height: 55px; box-shadow: 0 0 200px 37.3px rgb(0, 0, 0);}
    article {order: 4; width: 916px; position: static;}
    .contentcontainer{justify-content: flex-start; flex-direction: column; flex-wrap: wrap;}
    .asidetitle {text-align: left; padding-left: 3px;}
    .sright {order: 3; margin: 18px 0px 0px 0px;}
    .shadowfix {top: calc(55px + 16vw); height: calc(100% - 16vw - 55px); min-width: 0px;}
    .r13 {visibility: hidden;}
}

@media only screen and (min-width: 1472px)
{
    body {font-size: 20px;}
    .navtop {height: 58px; box-shadow: 0 0 200px 36.4px rgb(0, 0, 0);}
    article {order: 2; width: 916px; position: static;}
    .contentcontainer {justify-content: space-between; flex-direction: row; flex-wrap: nowrap;}
    .asidetitle {text-align: center; padding-left: 0px;}
    .sright {order: 3; margin: 36px 0px 0px 0px;}
    .shadowfix {top: calc(58px + 16vw); height: calc(100% - 16vw  - 58px); min-width: 0px;}
    .r13 {visibility: visible;}
}

@media only screen and (min-width: 1560px)
{
    body {font-size: 20px;}
    .navtop {height: 58px; box-shadow: 0 0 200px 36.4px rgb(0, 0, 0);}
    article {order: 2; width: 916px; position: static;}
    .contentcontainer {justify-content: space-between; flex-direction: row; flex-wrap: nowrap;}
    .asidetitle {text-align: center; padding-left: 0px;}
    .sright {order: 3; margin: 36px 0px 0px 0px;}
    .shadowfix {top: calc(58px + 250px); height: calc(100% - 250px - 58px); min-width: 0px;}
    .r13 {visibility: visible;}
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

* {
    margin: 0px;
}

html
{
    overflow: auto;
    min-height: 100%;
    min-width: 804px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#sakurabackground
{
    background-image: url(../PIC/sakura2.jpg);
    background-size: auto;
}

#random
{
    background-image: url(../PIC/giphy4.gif);
    background-size: auto;
}

body 
{
    width: 100%;
    height: 100%;
    font-family: Ubuntu;
    font-weight: lighter;
    letter-spacing: 2px;
}

header
{
    
}

aside
{
    width: 250px;
}

aside a 
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5em;
    padding-left: 10px;
}

article
{
    margin: 36px 18px 18px 18px;
}

.maintitle
{
    text-align: center;
    background-color: rgb(0, 0, 0);
}

section
{
    height: 100%;
    padding-bottom: 8px;
    color: #fff;
}

section a 
{
    color: #e8e8e8;
    text-decoration: underline;
}

footer
{
    z-index: 1;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #999;
    padding: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.75);
}

.navtop
{
    z-index: 1;
    width: 804px;
    margin: 0px;
}

.navtop ul
{
    padding: 0px;
    margin: 0px;
}

.navtop a
{
    font-family: Ubuntu,sans-serif;
    color: #fff;
}

.navtop ul.level1 li
{
    float:left;
    list-style: none;
}

.navtop ul.level1 li a
{
    display: block;
    width: 200px;
    text-align: center;
    padding: 14px 34px 14px 34px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.5);
   
}

.navtop ul li:hover
{
    background-color: rgba(0, 0, 0, 0.5);
}

.navtop ul li:hover > ul.level2 
{
    visibility: visible;
}

.navtop ul li:hover > ol.level2 
{
    visibility: visible;
}

.navtop ul.level2, .navtop ol.level2
{
    position: absolute;
    z-index: 1;
    display: inline;
    visibility: hidden;
    padding:0px;
}

.navtop ul.level2 li, .navtop ol.level2 li
{
    float: none;
    background-image: url(../PIC/gg.gif);
}

.navtop ol.level2 li 
{
    list-style: upper-roman inside;
    color: #fff;
}

.navtop ul.level2 li 
{
    list-style: square inside;
    color: #fff;
}

.navtop ul.level2 li a, .navtop ol.level2 li a
{
    text-align: left;
}

.navtop ul.level2 .active, .navtop ol.level2 .active
{
    
}

.banner
{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 250px;
    min-height: 200px;
    height: 16vw;
    background-color: rgba(255, 255, 255, 0.7);
}

.creativetitlecontainer
{
    z-index: 0;
    min-height: 170px;
    max-height: 220px;
    min-height: 170px;
    height: 14vw;
    max-width: 220px;
    min-width: 170px;
    width: 14vw;
    border-radius: 100%;
    background-color: rgba(255, 0, 0, 0.7);
    transform: rotate(-360deg);
    transition: box-shadow 0.5s linear, transform 0.5s linear;
}

.creativetitlecontainer:hover
{
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7);
    transform: rotate(360deg);
    transition: box-shadow 0.5s linear, transform 0.5s linear;
}

.titlecontainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 220px;
    min-height: 170px;
    height: 14vw;
    max-width: 220px;
    min-width: 170px;
    width: 14vw;
}

#titlejapan
{

}
.shadowfix
{
    z-index: -1;
    width: 100%;
    background-image: url(../PIC/gg.gif);
    background-color: rgba(0, 0, 0, 0.75);
}

.navcontainer
{
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    min-width: 804px;
    width: 100%;
    background-image: url(../PIC/gg.gif);
    background-color: rgba(0, 0, 0, 0.75);
}

.contentcontainer
{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(../PIC/gg.gif);
    background-color: rgba(0, 0, 0, 0.75);
}

.indexc
{
    max-height: 4100px;
}

.indexc aside
{
    width: 0px;
}

.jeffc
{
    max-height: 1100px
}

.jeffc .sright
{
    max-height: 1100px
}

.jeffc aside
{
    width: 0px;
    height: 0px;
}

.jeffisflyc
{
    max-height: 600px
}

.jeffisflyc .sright
{
    max-height: 1100px
}

.jeffisflyc aside
{
    width: 0px;
    height: 0px;
}
.japanc
{
    max-height: 22200px;
}

.japanc .sright
{
    height: 10300px;
}

.geographiec
{
    max-height: 6600px;
}

.geographiec .sright
{
    order: 3;
    height: 2400px;
}

.geschichtec
{
    max-height: 5300px;
}

.geschichtec .sright
{
    order: 3;
    height: 2400px;
}

.bevoelkerungc
{
    max-height: 3000px;
}

.bevoelkerungc .sright
{
    order: 3;
    height: 800px;
}

.wirtschaftc
{
    max-height: 3000px;
}

.wirtschaftc .sright
{
    height: 1000px;
}

.kulturc
{
    max-height: 3300px;
}

.kulturc .sright
{
    height: 1300px;
}

.asidetitle
{
    background-color: rgb(0, 0, 0);
}

.content
{
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.25);
}

.japanc .content
{
    box-shadow: 0 0 7px 5px rgba(255, 0, 0, 0.14);
}

.sright
{
    order: 3;
    height: 2400px;
}

.toc
{
    display: table;
    width: 250px;
    padding: 8px 0px 8px 0px;
}

.toctitle
{
    
}

.toc ul
{
    list-style-type: none;
    text-align: left;
    padding:0;
    margin:.3em 0;
}

.toc ul ul
{
    margin: 0px 0px 0px 5px;
}

.toc a
{
    font-size: 14px;
    text-decoration: none;
}

.toc a:hover
{
    color: #ADA;
}

.sleft
{
    order: 1;
    margin: 36px 0px 0px 0px;
}

.recommend
{
    width: 250px;
    padding: 8px 0px 8px 0px;
}

.recommendtitle
{
    
}

.recommend ul
{
    text-align: left;
    list-style-type: none;
    padding: 0px;
}

.recommend a
{
    font-size: 14px;
    text-decoration: none;
}

.vid
{
    display: block;
    width: 236px; 
    height: 189px;
    margin: 8px 7px 8px 7px;
    box-shadow: 0 0 15px 5px rgb(0, 0, 0);
}

a:hover 
{
    color: #ADA;
}

.active
{
    
}

h1 
{
    font-family: Origam;
    font-size: 40px;
    line-height: 1.5em;
    font-weight: bolder;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

h2 
{
    display:inline;
    font-size: 23px;
    font-weight: lighter;
    line-height: 1,5em;
    color: rgba(255, 0, 0, 0.7);
    padding: 5px;
}

h3 
{
    display:inline;
    font-size: 23px;
    font-weight: lighter;
    line-height: 1,5em;
    color: rgb(255, 255, 255);
    padding: 5px;
}

h4 
{
    display:inline;
    font-size: 23px;
    font-weight: lighter;
    line-height: 1,5em;
    color: rgba(255, 0, 0, 0.5);
    border:none;
}

p 
{
    line-height: 1.5em;
    padding: 10px 20px 10px 20px;
}

dt
{
    line-height: 1.5em;
    padding: 10px 20px 10px 20px;
}

dd
{
    line-height: 1.5em;
    padding: 10px 20px 10px 20px;
}

dl
{
    line-height: 1.5em;
    padding: 10px 20px 10px 20px;
}

a
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5em;
}

ol
{
    list-style: decimal;
    padding: 0px 0px 0px 50px;
}

#ZGSJ_list
{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 18px 18px 18px 20px
}

#ZGSJ_list ol
{
    min-width: 210px;
    width: 50%;
}

.ZGSJitem ul
{
    z-index: 3;
    visibility: hidden;
    list-style: none;
}

.map
{
    z-index: 3;
    width: 21vw;
    max-width: 310px;
    min-width: 200px;
}

.ZGSJ_info
{
    z-index: 3;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 21vw;
    max-width: 310px;
    min-width: 200px;
}

.blankmap
{
    z-index: 0;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 21vw;
    max-width: 310px;
    min-width: 200px;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.13);
}

.ZGSJitem:hover > ul{
    visibility: visible;
}

.ZGSJitem a
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5em;
    padding-left: 10px;
}
.ZGSJitem:hover > a{
    color: #ADA;
}

.gallery
{
    display: flex;
    justify-content: space-around;
}

.gallery ul
{
    list-style: none;
    padding: 10px;
}

.gallery ul img
{
    width: 200px;
}

.gallerybox
{
    width: 150px;
}

.infotext
{
    font-size: 12px;
    line-height: 1.5em;
}

img
{
    display: block;
	max-width: 100%;
	height: auto;
}

.r13
{
    position: fixed;
    right: 10px;
    bottom: 0px;
}

.r13:hover
{
    background: rgba(124, 0, 0, 0.05);
    box-shadow: 0 0 15px 5px rgba(124, 0, 0, 0.05);
    transition: background 0.5s linear, box-shadow 0.5s linear;
}

.jeffc iframe
{
    display: block;
    width: calc(100% - 15px);
    height: 1000px;
    margin: 5px 5px 0px 5px;
}

.jeffisflyc iframe
{
    display: block;
    width: calc(100% - 15px);
    height: 500px;
    margin: 5px 5px 0px 5px;
}

#Izaya
{
    height: 300px;
}

#Shizuo
{
    height: 300px;
}